.hw-list {
    padding: 10px;
    list-style-type: none;
    width: 40%;

    .hw-list-item {
        padding: 10px;
        border: 1px solid #eee;
    }

    .active {
        background-color: rgb(58, 58, 241);
    }

    :hover {
        background-color: bisque;
        color: white;
    }
}

%alert {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

@mixin alert2Style ($bg, $tg) {
    background-color: $bg;
    color: $tg;
}

.hw-alert p:nth-child(1) {
    @extend %alert;
    @include alert2Style(aquamarine, rgb(74, 126, 92));
}

.hw-alert p:nth-child(2) {
    @extend %alert;
    @include alert2Style(rgb(164, 177, 172), rgb(74, 126, 92));
}

.hw-alert p:nth-child(3) {
    @extend %alert;
    @include alert2Style(rgb(10, 26, 20), rgb(74, 126, 92));
}